.venv/
venv/
env/
.env
.env.*

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.spec
*.egg-info/
.eggs/
pip-wheel-metadata/

.vscode/
.idea/
*.swp
*.swo
*.tmp

.DS_Store
Thumbs.db
